<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/img/favicon-16x16.png">
<link rel="manifest" href="{{site.url}}/img/manifest.json">
<link rel="mask-icon" href="{{site.url}}/img/safari-pinned-tab.svg" color="#7f7e7e">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">
