<div class="page-header">
  <h1><a href="/">{{ site.title }}</a></h1>
  {% if site.subtitle %}<br/><h2>{{ site.subtitle }}</h2>{% endif %}
</div>

<p class="text-center"><img width="200px" src="{{ site.url }}/img/logo.svg" alt="{{ site.title }} logo"></p>
<p class="underlogo">*записываемся на утюг</p>

{% comment %}
  {% if site.description %}<p class="description">{{ site.description }}</p>{% endif %}

  <script class="podlove-subscribe-button"
          src="/subscribe-button/javascripts/app.js"
          data-language="{{ site.language }}"
          data-size="medium auto"
          data-style="filled"
          data-json-data="podcastData"
          data-colors="#FC6E51;green;blue">
  </script>

  <script>
    window.podcastData = {
      "title": "{{ site['title']}}",
      "subtitle": "{{ site['subtitle']}}",
      "description": "{{ site['description']}}",
      "cover": "{{ site.url }}/img/logo.svg",
      "feeds": [
      {% for feed in site['episode_feed_formats'] %}
        {
          "type": "audio",
          "format": "{{ feed }}",
          "url": "{{ site['url']}}/episodes.{{ feed }}.rss",
          "directory-url-itunes": "{{ site['itunes_url']}}",
          "variant": "high"
        },
      {% endfor %}
      ]
    }
  </script>
{% endcomment %}

<hr/>

<h4>Подписаться</h4>

<ul class="links">
  {% for feed in site['episode_feed_formats'] %}
    <li><a href="{{ site['url']}}/episodes.{{ feed }}.rss"><i class="fa fa-rss"></i>&nbsp;RSS Feed ({{ feed }})</a></li>
  {% endfor %}


  {% for jsonfeed in site['json_feed_formats'] %}
    <li><a href="{{ site['url']}}/feed.{{ jsonfeed }}.json"><i class="fa fa-rss-square"></i>&nbsp;JSON Feed ({{ jsonfeed }})</a></li>
  {% endfor %}

  {% if site.itunes_url %}
  <li><a href="{{ site.itunes_url }}"><i class="fab fa-apple"></i>&nbsp;iTunes</a></li>
  {% endif %}
  {% if site.google_play_url %}
  <li><a href="{{ site.google_play_url }}"><i class="fab fa-google-play"></i>&nbsp;Google Play</a></li>
  {% endif %}
  {% if site.bitlove_url %}
  <li>as Torrents at <a href="{{ site.bitlove_url }}"><img src="https://bitlove.org/static/favicon.png"/> Bitlove</a></li>
  {% endif %}
  {% if site.fyyd_url %}
  <li>at the podcast search engine <a href="{{ site.fyyd_url }}">Fyyd</a></li>
  {% endif %}
  {% if site.gpodder_url %}
  <li>at <a href="{{ site.gpodder_url }}"><img src="https://gpodder.net/media/gpoddernet_64.png" height="16" /> Gpodder.net</a></li>
  {% endif %}
</ul>


<h4>Благодарности</h4>

<ul>
    <li>Музыка: <a target="_blank" rel="nofollow noopener noreferrer" href="https://incompetech.com/music/royalty-free/music.html">Kevin MacLeod</a></li>
    <li>Утюг: <a target="_blank" rel="nofollow noopener noreferrer" href="https://pixabay.com/ru/%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9-%D0%B6%D0%B5%D0%BB%D0%B5%D0%B7%D0%B0-%D1%81%D1%82%D0%B0%D1%80%D1%8B%D0%B9-29415/">Clker Free Vector Images</a></li>
</ul>

{% comment %}
<h4>Лицензия</h4>
{% if site.license_url %}
  <a rel="license" href="{{ site.license_url }}">
    {% if site.license_image_url %}
      <img alt="Creative Commons License" style="border-width:0" src="{{ site.license_image_url }}" />
    {% else %}
      {{ site.license }}
    {% endif %}
  </a>
{% endif %}
{% endcomment %}

{% if site.flattr_uid %}
  <span class="pull-left">{{ site | flattr_button }}</span>
{% endif %}

{% if site.twitter_nick %}
  <h4>Обратная связь</h4>

  <ul>
  <li><a href="https://twitter.com/{{ site.twitter_nick }}"
     class="button btn-primary btn-sm"
     data-show-count="false">
      <i class="fab fa-twitter"></i>&nbsp;Следите за @{{ site.twitter_nick }}
  </a></li>
  <li><a href="mailto:{{ site.email }}">
      <i class="fa fa-envelope"></i>&nbsp;Напишите нам
  </a></li>
{% endif %}
